
.contactheader{
    max-width: 1000px;
  margin: 0 auto;
    
}


.contactheader h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
    max-width: 80%;
}
.contactheader p{
    font-weight: 600;
    color: gray;
}